<!--  slider, arrows, items -->
<div class="row" style="padding: 2rem; width:100%; height: 60%; text-align: center;">
  <div class="col-md-6">
    <div class="content">
      <div appCarousel>
        <div appCarouselItem>
          <img src="assets/gms-dark.jpg">
        </div>
        <div appCarouselItem>
          <div class="content">
            <img src="assets/gms-dark.jpg">
          </div>

        </div>
        <div appCarouselItem>
          <div class="content">
            <img src="assets/gms-dark.jpg">
          </div>

        </div>
      </div>
      <div class="dots">
        <div class="dot"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6 thin-text">
    <h1 class="thin-text">Generic Music School</h1>
    <p>This is some blurb about the design...</p>
  </div>
</div>
