<div class="container">
  <h1 class="display-2 mx-auto my-5">Design Philosophy</h1>
  <div class="row ">
    <div class="col-md-8 row">
      <div class="col-md-6 my-3 ">
        <div class="card shadow-sm">
          <img class="img-fluid" src="assets/wireframe.jpg">
          <div class="p-3">
            <h4>Mobile First</h4>
            <p class="">
              Active mobile devices heavily outnumber PCs. However, Mobiles do not match PCs in compute power or screen size. A well designed
              website takes this into consideration. The layout is first optimized for mobile and then built up to fit bigger
              screens, leading to a pleasant and postive experience for mobile users.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 my-3 ">
        <div class="card shadow-sm">
          <img class="img-fluid m-3" src="assets/responsive-design-illustration.jpg">
          <div class="p-3">
            <h4>Responsive Design</h4>
            <p class="">
              Display dimensions vary between devices and change with orientation. User interface layouts suit the dimensions in use and
              also adapt as dimensions change. Details are revealed as dimensions increase and summarised as they shrink,
              all in one fluid flowing design.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 my-3">
        <div class="card shadow-sm">
          <div class="p-3">
            <h4>Rich Interactive UX</h4>
            <p class="">
              Typography, Color and Animations blend in seemlessly to provide a rich interactive user experience.
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 ">
      <div class="card shadow-sm my-3">
        <img class="img-fluid m-3" src="assets/browsers-2.png">
        <div class="p-3">
          <h4>Universal</h4>
          <p>Use of open source cross-platform frameworks and tools ensure portability and availabilty across major platforms
            for both developers and end users.</p>
        </div>
      </div>
      <div class="card shadow-sm my-3">
        <img class="img-fluid" src="assets/code.png">
        <div class="p-3">
          <h4>Elegant Coding</h4>
          <p>
            Designed applications are durable and reliable due to precise, concise coding and industry best practices.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
