<h1 class="display-2 mx-auto my-5">Design Philosophy</h1>
<div class="row ">
  <div class="col-md-4 my-5">
    <h4>
      Mobile First </h4>
    <p class="justify">
      Build user interfaces up from small mobiles to large desktops. Optimize load times
  </div>
  <div class="col-md-4 my-5">
    <h4>Fluid-Responsive Layout </h4>
    UI components fill available screen estate and break to reveal more detail as they grow
  </div>
  <div class="col-md-4 my-5">
    <h4>Cross-platform</h4>
    Target all devices across all platforms
  </div>
</div>
<div class="row">
    <div class="col-md-4 my-5">
        <h4>Material Design</h4>
        Heavy influence from Material Design
      </div>
</div>
