<div class="container">
  <div class="d-flex align-items-start">
    <div class="flex-spacer"></div>
    <button class="btn btn-outline-primary">Save</button>
  </div>
  <h3>Title</h3>
  <input class="form-control" type="text" name="title" [(ngModel)]="title"  placeholder="Title goes here...">
  <h3 class="mt-3">Content</h3>
  <quill-editor (onContentChanged)="content = $event.html"></quill-editor>
  <h3 class="mt-3">Preview</h3>
  <h4>{{ title || 'Title goes here...' }}</h4>
  <div [innerHTML]="content | safeHTML">
  </div>
</div>
