<div class="container">
  <div class="py-5">
    <h1 class="display-2">Skills</h1>
    <h3>Full-Stack is my way</h3>
  </div>
  <div class="row">
    <div class="col-md-4 my-3">
      <div class="bg-white shadow-sm p-3 card">
        <h4>Languages</h4>
        <ul class="list-unstyled">
          <li class="my-3" *ngFor="let v of languages">{{v.tag}}
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width]="v.level" attr.aria-valuenow="{{v.level}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 my-3">
      <div class="bg-white shadow-sm p-3 card">
        <h4>Frameworks</h4>
        <ul class="list-unstyled">
          <li class="my-3" *ngFor="let v of frameworks">{{v.tag}}
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width]="v.level" attr.aria-valuenow="{{v.level}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 my-3">
      <div class="bg-white shadow-sm p-3 card">
        <h4>Servers and the Cloud</h4>
        <ul class="list-unstyled">
          <li class="my-3" *ngFor="let v of clouds">
            <span class="oi oi-check mr-3" title="check" aria-hidden="true"></span>{{v.tag}}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 my-3">
      <div class="bg-white shadow-sm p-3 card">
        <h4>Design Patterns</h4>
        <ul class="list-unstyled">
          <li class="my-3" *ngFor="let v of patterns">
            <span class="oi oi-check mr-3" title="check" aria-hidden="true"></span> {{v.tag}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
