<div class="py-5">
  <h1 class="display-2 mx-auto">Skills</h1>
  <h4>Full-Stack is my way</h4>
</div>
<div class="row">
  <div class="col-md-5 mr-auto my-4">
    <h5>Languages, Syntax and Markups</h5>
    <ul class="list-unstyled">
      <li class="my-4" *ngFor="let v of languages">{{v.tag}}
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="v.level" attr.aria-valuenow="{{v.level}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-5 ml-auto my-4">
    <h5>Frameworks</h5>
    <ul class="list-unstyled">
      <li class="my-4" *ngFor="let v of frameworks">{{v.tag}}
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="v.level" attr.aria-valuenow="{{v.level}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row">
    <div class="col-md-5 mr-auto my-4">
      <h5>Servers and the Cloud</h5>
      <ul class="list-unstyled">
        <li class="my-4" *ngFor="let v of clouds">{{v.tag}}
          <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width]="v.level" attr.aria-valuenow="{{v.level}}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-5 ml-auto my-4">
      <h5>Design Patterns</h5>
      <ul class="list-unstyled">
        <li class="my-4" *ngFor="let v of patterns">{{v.tag}}
          <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width]="v.level" attr.aria-valuenow="{{v.level}}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
