<div class="container-fluid col-xl-9">
  <div class="my-3  my-lg-5">
    <h1 class="display-2 mx-auto">My Designs</h1>
    <p class="lead">Things I've done over the years...</p>
  </div>
  <div class="row">
    <div class="col-lg-6 my-4">
      <h2>Generic Music School</h2>
      <p>A single page application utilizing the Angular framework. Coded in TypeScript, HTML and SaSS</p>
      <div class="col-12 my-3">
        <a href="/angular-demo/">
          <div class="app-showcase mx-auto">
            <img src="../assets/gms-dark.jpg">
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-6 my-4">
      <h2>ASP.Net Core Web API</h2>
      <p>Backend built on ASP.Net core for cross-platform hosting. Coded in C#. Deployed on an Amazon EC2</p>
      <div class="col-12 my-3">
        <a href="/angular-demo/">
          <div class="app-showcase mx-auto">
            <img src="../assets/gms-dark.jpg">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
