<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand mr-5 btn btn-primary" routerLink="/">Avin Kavish</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <nav class="navbar-nav">
        <a class="nav-link btn btn-primary" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="btn btn-primary" routerLink="/projects" routerLinkActive="active">Projects</a>
        <div class="btn-group" ngbDropdown role="group" placement="bottom-right" aria-label="dropdown links">
          <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
          <div class="dropdown-menu" ngbDropdownMenu >
            <a class="dropdown-item " routerLink="/portfolio/gms/" routerLinkActive="active">Generic Music School</a>
            <a class="dropdown-item" routerLink="/portfolio/gms-api/" routerLinkActive="active">ASP.NET Core API</a>
          </div>
        </div>
        <a class="nav-link btn btn-primary">Coming soon...</a>
      </nav>
    </div>
  </div>
</nav> -->
<main role="main">
  <router-outlet></router-outlet>
</main>
