<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="/">Designs by Avin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/angular-demo/">Angular Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Braingear</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/design-philosophy" routerLinkActive="active">Design Philosophy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/skill-set" routerLinkActive="active">Skill Set</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Coming soon...</a>
      </li>
    </ul>
  </div>
</nav>
<main class="container" role="main">
  <router-outlet></router-outlet>
  </main>
