@import "~bootstrap/scss/bootstrap";
@import 'carousel.scss';
@import 'onepage.scss';
@import "~open-iconic/font/css/open-iconic-bootstrap.scss";

body {
  color: rgba(0, 0, 0, 0.9);
}

.app-carousel-item img {
  width: 95%;
  pointer-events: none;
}


.thin-text{
  font-weight: 300;
}