@import '~@angular/material/theming';

$body-bg:#f2f2f2;
$theme-colors: ( "primary": #1b5e20, "success": #009688 );
$progress-bar-bg:#009688;


@import "~bootstrap/scss/bootstrap";
@import "~open-iconic/font/css/open-iconic-bootstrap.scss";

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

p{
  font-size:0.9rem;
}

.oi{
  color:#009688;
}

.navbar-dark {
  background-color: theme-color("primary");
  @include mat-elevation(2);
}

.app-showcase {
  overflow: hidden;
  border-radius: 1px;
  @include mat-elevation-transition;
  @include mat-elevation(2);
  &:hover {
    @include mat-elevation(6);
  }
}

.app-showcase img {
  width: 100%;
}

.progress {
  height: 3px;
}

.card{
  border: unset;
  border-radius: 0.2rem;
  
}

.flex-spacer{
  flex-grow: 1;
}

.ql-container{
  background-color: white;
}

