<div class="container">
    <h1 class="display-2">Introduction</h1>
  <div class="shadow-sm card p-3">
    <p class="lead">Hi, I'm Avin. I'm an aspiring full stack developer.
       This is where I record my projects, my skills and my journey through the world of IT.</p>
       <!-- <p>I have been coding since I was 13. I have a passion for it. I've built up a lot of amateur experience over the past 10 years.
      Recently, I graduated with a computer science degree with a focus on application development. I'm quite comfortable designing 
      small to meduim bussiness applications on my own.</p> -->
  </div>
</div>
