<div class="my-5">
  <h1 class="display-2 mx-auto">Designed by Avin</h1>
  <p>A collection of websites and applications designed to modern standards</p>
</div>
<div class="row">
  <div class="col-lg-6 my-4">
    <h2>Portal in Angular</h2>
    <p>A single page application utilizing the Angular 6 framework. Coded in TypeScript, HTML and SaSS</p>
    <div class="col-12 my-3">
      <a href="/angular-demo/">
        <div class="app-showcase mx-auto">
          <img src="../assets/gms-dark.jpg">
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-6 my-4">
    <h2>ASP.Net MVC Demo</h2>
    <p>A web application built on ASP.Net core for cross-platform hosting. Coded in C#. Deployed on an Amazon EC2 debian instance</p>
      <div class="col-12 my-3">
          <a href="/angular-demo/">
        <div class="app-showcase mx-auto">
          <img src="../assets/gms-dark.jpg">
        </div>
        </a>
      </div>
  </div>
</div>
