<div ngxOnePage [sectionIndex]="sectionIndex" (scroll)="sectionIndex = $event">
  <ngx-one-page-nav (anchorClick)="sectionIndex = $event" [sectionIndex]="sectionIndex" [anchors]="anchors"></ngx-one-page-nav>
  <app-cover ngxOnePageSection></app-cover>

  <app-gms ngxOnePageSection></app-gms>
  <div ngxOnePageSection style="background-color:var(--color4);">
    <div class="content">
      or the menu at the top
    </div>
  </div>
  <div ngxOnePageSection style="background-color:var(--color5);"> 
    <div class="content">
      less is more...
    </div>
  </div>
</div>
